<form action="/member/add" method="post">
    <label>이름:</label>
    <input type="text" id="name" name="name"/>
    <label>나이:</label>
    <input type="text" id="age" name="age"/>
    <button type="submit">저장</button>
</form>
