{{> layout/header}}
<div class="container bg-light">
    <div class="page-header m-3">
        <div class="col-md-6 col-md-offset-3">
            <h3>상품수정</h3>
        </div>
    </div>
    <div class="col-sm-6 col-md-offset-3 m-3">
        <form role="form" method="post" action="/item/edit">
            <input type="hidden" name="id" value="{{form.id}}">
            <div class="form-group">
                <label for="name">상품명</label>
                <input type="text" class="form-control" id="name" name ="name" placeholder="이름을 입력하세요" value="{{#form.name}}{{form.name}}{{/form.name}}">
            </div>
            <div class="form-group">
                <label for="price">가격</label>
                <input type="text" class="form-control" id="price" name ="price" placeholder="0" value="{{#form.price}}{{form.price}}{{/form.price}}">
            </div>
            <div class="form-group">
                <label for="stockQuantity">수량</label>
                <input type="text" class="form-control" id="stockQuantity" name ="stockQuantity" placeholder="0" value="{{#form.stockQuantity}}{{form.stockQuantity}}{{/form.stockQuantity}}">
            </div>
            <div class="form-group">
                <label for="author">저자</label>
                <input type="text" class="form-control" id="author" name ="author" placeholder="저자를 입력하세요" value="{{#form.author}}{{form.author}}{{/form.author}}">
            </div>
            <div class="form-group">
                <label for="author">ISBN</label>
                <input type="text" class="form-control" id="isbn" name ="isbn" placeholder="ISBN을 입력하세요" value="{{#form.isbn}}{{form.isbn}}{{/form.isbn}}">
            </div>
            <div class="form-group text-center">
                <button type="submit" id="join-submit" class="btn btn-primary">
                    상품수정<i class="fa fa-check spaceLeft"></i>
                </button>
            </div>
        </form>
    </div>
</div>

